# --------------------
# Android Studio / IntelliJ
# --------------------
*.iml
.idea/
!.idea/codeStyles/
!.idea/codeStyles/**

# --------------------
# Gradle
# --------------------
.gradle/
build/
**/build/

# --------------------
# Local configuration
# --------------------
local.properties

# --------------------
# Kotlin
# --------------------
.kotlin/
.kotlin/errors/

# --------------------
# Native build
# --------------------
.externalNativeBuild/
.cxx/

# --------------------
# macOS
# --------------------
.DS_Store
.AppleDouble
.LSOverride

# --------------------
# Android
# --------------------
captures/

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Temporary / Misc
# --------------------
*.swp
*.tmp
